server:
  port: 18001

eureka:
  client:
    register-with-eureka: true    #注册自己，供zuul发现
    serviceUrl:
          defaultZone: http://admin:test@127.0.0.1:8001/eureka/,http://admin:test@127.0.0.1:8002/eureka/,http://admin:test@127.0.0.1:8003/eureka/

spring:
  application:
      name: feign-client-consumer
      

# 默认是开启的, 不用可以关闭
feign:
  hystrix:
    enabled: true